/* Contenedor Universal */
* {
  font-family: 'Lato', sans-serif;
  font-family: 'Manjari', sans-serif;
  font-family: 'Merriweather', serif;
  font-family: 'Metal Mania', cursive;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  color: rgb(8, 8, 8);
  background-color: #000000;
  padding: 0;
  margin: 0;
}

/*Caja para Biografía personajes en resultados juegos*/
#bioResultado {
  background-image: url("./Images_proyect/fondo_general.jpg");
  width: 90vw;
  height: 100%;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 3%;
  display: flex;
  align-self: center;
  justify-content: left;
  font-size: calc(0.8em + 0.9vw);
}

/*Es el cuerpo general del documento. Define el fondo general y que trabajamos con flexbox */
body {
  background-image: url("./Images_proyect/fondo_general.jpg");
  padding-top: 0em;
  display: flex;
  flex-direction: column;
}


/* Clase para Botones pantallas: portada, juego pareja, juego enemigo, y personajes */
.botones {
  background-color: rgba(255, 252, 62, 0.966);
  opacity: 0.7;
  width: 20vw;
  height: 10vh;
  border: 0.2em solid #aa9d9de5;
  font-family: 'Metal Mania', cursive;
  font-size: calc(0.7em + 0.8vw);
  border-radius: 20%;
}
/*Seteo de contenedor botones creados en JS*/
#botonesJS {
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5em;
  margin-bottom: 1em;
}

/* Contenedor para Botones pantalla portada, juego pareja, juego enemigo, creados en HTML */
.contenedorBotones {
  background-color: transparent;
  margin-top: 6vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
}


/* Contenedor para Preguntas juegos, creadas en HTML */
.contenedorPreguntas {
  background-color: transparent;
  padding-top: 3vh;
  padding-left: 3vw;
  padding-bottom: 7vh;
  padding-right: 3vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
}

/* Para ocultar pantalla enemigo en función */
#enemigo {
  display: none;
}

/* Seteo Banner para todo el proyecto*/
/* Banner en si*/
#estiloBanner {
  background-image: url("./Images_proyect/Banner.png");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 25vh;
  margin: 0em 0em 0em 0em;
  display: block;
  margin: auto;
}

/* configuración para eliminar franjas negras al hacer resposive pagina*/
.bannerFondo {
  background-color: transparent;
}

/* Acá seteamos ficha personajes, y las hacemos responsive */
.ficha {
  width: 180px;
  height: 230px;
  padding: 25px;
  border-radius: 10px;
  margin: 1% auto;
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 3%;
  margin-bottom: 3%;
  background: transparent;
  float: left;
}

/* Seteo para que podamos ver el fondo de pantalla en biografias */
.fichaBio {
  background-color: transparent;
}

/* Ficha resultado, pero la comentamos porque no la estamos usando, porque elminamos ficha resultado
.fichaResultado {
  background-image: url("./Images_proyect/fondo_general.jpg");
  background-color: transparent;
  width: 90vw;
  height: 100vh;
  display: flex;
  align-self: flex-start;
  justify-self: right;
} */



/* Acá seteamos pantalla fondo enemigo */
.imagenEnemigo {
  background-image: url("./Images_proyect/fondo_enemigo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  margin: 0em 0em 0em 0em;
  display: block;
  margin: auto;
  background-color: #000000;
}

/* Acá seteamos imagen pantalla pareja*/
.imagenPareja {
  background-image: url("./Images_proyect/fondo_amor.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: auto;
  width: 100vw;
  height: 100vh;
  margin: 0em 0em 0em 0em;
  background-color: transparent;
}


/* Acá seteamos pantalla fondo personaje */
.imagenPersonaje {
  background-image: url("./Images_proyect/fondo_general.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: auto;
  width: 100vw;
  height: 30vh;
  margin: 0em 0em 0em 0em;

}

/* Acá seteamos imagen pantalla portada */
.imagenPortada {
  background-image: url("./Images_proyect/fondo_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  margin: auto;
  width: 100vw;
  height: 100vh;
  margin: 0em 0em 0em 0em;
  padding-top: 6%;
}

/*Seteo imagen para fichas*/
.imagens {
  width: 100%;
  height: 30vh;
  border-radius: 2em;
  border: 0.3em solid rgba(24, 22, 22, 0.897);
  background-image: url("./Images_proyect/fondo_general.jpg");
}

/*Seteo Imagenes resultado juegos*/
/*Imagen en si*/
.imagensResultado {
  width: 20vw;
  height: 15%;
  border-radius: 2em;
  border: 0.3em solid rgba(24, 22, 22, 0.897);
  margin-top: 0;
  margin-bottom: 0;
}

/*contenedor imagen resultado juegos*/
.contenedorImagenBio {
background-color: transparent;
margin-top: 0;
margin-bottom: 3%;
}


/*Seteo letras mensaje no match*/
.mensajeNoMatch {
  font-family: 'Merriweather', serif;
  color: #FFC107;
  background-color: transparent;
}




/*acá inicia el estilo del modal*/
/*Imagen dentro del modal*/
.imagensModal {
  width: 80%;
  height: 65%;
  border-radius: 5em;
  margin-top: 2%;
  margin-bottom: 7%;
  border: 0.3em solid rgba(24, 22, 22, 0.897);
  background-image: url("./Images_proyect/fondo_general.jpg")
}

/*seteo modal, pero no se ve esto*/
.modal {
  position: fixed;
  top: 0;
  left: 3%;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transform: scale(0);
  transition: transform .2s;
}

/*Id modal, pero o lo estamos ocupando para css*/
/*#modal_Content {
 background-color: fuchsia;
 width: 300vw;
 height: 300vh;
 padding: 3rem;
}*/

/*contenedor modal*/
.modal--show {
  transform: scale(1);
  background-color: transparent;
  width: 45%;
  height: 70vh;
  padding-top: 4em;
  padding-bottom: 10em;
  padding-right: 30em;
  padding-left: 1em;
  margin-top: 2em;
  margin-right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

}
/*modal en si*/
#tarjetaModal {
  width: 100%;
  height: 100%;
  padding: 5em;
  background-image: url("./Images_proyect/fondo_general.jpg");
  border: 0.3em solid rgba(24, 22, 22, 0.897);
  border-radius: 5em;
  margin: 1% auto;
  margin-left: 10%;
  margin-right: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*contenedor textos modal*/
#letras {
  padding-top: 0;
  background-color: transparent;
}

/*estilo letras modal*/
.letras {
  font-family: 'Merriweather', serif;
  color: #FFC107;
  background-color: transparent;
}




/* Acá ocultamos pantalla pareja para funcion*/
#pareja {
  display: none;
}


/* Acá ocultamos pantalla personajes para funcion*/
#personajes {
  display: none;
}


/* Aca seteamos el estilo del footer del proyecto */
.pie {
  background-color: black;
  font-family: 'Merriweather', serif;
  font-size: calc(1vh + 1vw);
  color: #aa9d9de5;
  margin-top: 4em;
  background-image: url("./Images_proyect/fondo_general.jpg");
 flex-shrink: 0;
 justify-self: flex-end;
}

/* Aca seteamos el contenedor de la portada del proyecto*/
#portada {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/* Aca seteamos el contenedor root del proyecto*/
#root {
  margin: 1cm;
  background-color: transparent;
  flex: 1 0 auto;
}

/* Selectores para ordenar A-z y relevancia */
.selectoresOrden {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  border-radius: 10px;
  padding-top: 2.5em;
  padding-bottom: 0vh;
  height: 5vh;
}

/* Originalente para fichas personajes pero no lo estamos usando. 
.seteoFicha {
  font-family: 'Manjari', sans-serif;
  color: #FFC107;
  font-size: 1.5em;
  background-image: url("./Images_proyect/fondo_general.jpg");
  display: flex;
  flex-direction: row;
  width: 20vw;
  height: 30vh;
}/*

/*estilo de fuente para biografía personajes en resultado juegos */
.seteoFichaBio {
  font-family: 'Merriweather', serif;
  color: #FFC107;
  font-size: calc(1.4vh + 0.6vw);
  background-image: url("./Images_proyect/fondo_general.jpg");
  width: 85%;
  height: 100%;
  margin-right: 5%;
  margin-left: 2%;
}

/*Seteo nombres en pantalla personajes*/
.seteoNombresPantallaPersonajes {
  font-family: 'Manjari', sans-serif;
  color: #FFC107;
  font-size: calc(1.8vh + 0.9vw);
  background-color: transparent;
  display: inline;
}

/*Seteo nombre en bio*/
.seteoNombresPantallaBio {
  font-family: 'Metal Mania', cursive;
  color: #FFC107;
  font-size: 3em;
  background-color: transparent;
  width: 30%;
  height: 5vh;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  margin-top: 2%;
  margin-left: 40%;
  font-size: calc(3vh + 2vw);
}


/* Texto de los encabezados de las páginas Enemigo, Pareja y Personajes */
.textoSecciones {
  padding-top: 5vh;
  padding-right: 5vw;
  padding-bottom: 2vh;
  padding-left: 5vw;
  background-color: transparent;
  opacity: 1;
  font-family: 'Metal Mania', cursive;
  color: #aa9d9de5;
  font-size: calc(2.5vh + 1vw);
}

/*Texto portada web */
.textoPortada {
  font-family: 'Merriweather', serif;
  color: #aa9d9de5;
  font-size: calc(2.5vh + 0.7vw);
  background-color: transparent;
  margin: 0em 1em 2.5em 1em;
}

/*Preguntas de los juegos */
.textoPregunta {
  font-family: 'Merriweather', serif;
  color: #FFC107;
  background-color: transparent;
  font-size: calc(1.5vh + 0.7vw);
  padding-bottom: 2.5vh;
  padding-top: 2.5vh;
  align-self: center;
}

/*Select de opciones para preguntas */
.textoSelect {
  font-family: 'Manjari', sans-serif;
  font-size: calc(1vh + 0.5vw);
  color: #aa9d9de5;
  background-color: transparent;
  width: 40vw;
  height: 4vh;
  display: flex;
  flex-direction: row;
  align-self: center
}

/*titulo pantalla personajes juegos*/
.tituloMensajes {
  font-family: 'Merriweather', serif;
  color: #aa9d9de5;
  font-size: calc(3vh + 2vw);
  background-color: transparent;
  margin: 0em 1em 1em 1em;
}