*{
    font-family: 'Manjari', sans-serif;
font-family: 'Metal Mania', cursive;
    text-align: center;
    color:rgb(8, 8, 8);
    background-color:#000000;
     }

.botones {
background-color: #bfbf46;
width: 20%;
height: 60px;
font-family: 'Metal Mania', cursive;
border-radius: 20%;
     }

#contendorBotonesPortada {
    margin: 0em 0em 0em 0em;
    background-color: transparent;
         display: flex;
         justify-content: space-evenly;
     }

#enemigo {
         display: none;
     }


.estiloBanner {
    background-image: url(Images_proyect/Banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 170px;
 background-color: #000000; 
 margin: 0em 0em 0em 0em;
} /* Acá seteamos el estilo del banner del proyecto */

.imagenEnemigo {
    background-image: url(Images_Proyect/fondo_enemigo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   height: 600px;
   opacity: 0.3;
   margin: 0em 0em 0em 0em;
   display: block;
   margin: auto;
    background-color: #000000;
} /* Acá seteamos imagen pantalla ememigo */

.imagenPersonaje {
    background-image: url(Images_Proyect/fondo_general.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   height: 600px;
   opacity: 0.3;
   margin: 0em 0em 0em 0em;
   display: block;
   margin: auto;
    background-color: #000000;
} /* Acá seteamos imagen pantalla ememigo */

.imagenPortada {
    background-image: url(Images_Proyect/fondo_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
   height: 600px;
   margin: 0em 0em 0em 0em;
   display: block;
   margin: auto;
} /* Acá seteamos imagen pantalla portada */

.imagenPareja {
    background-image: url(Images_Proyect/fondo_amor.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    opacity: 0.3;
    margin: 0em 0em 0em 0em;
    display: block;
    margin: auto;
    background-color: #000000;
} /* Acá seteamos imagen pantalla pareja */

#pareja {
    display: none;
}/*me oculta pantalla pareja, solo llego por boton*/

#personajes {
    display: none;
}

.pie {
    background-color: rgb(8, 8, 8);
    color: #bdbdbd;
    font-family: 'Metal Mania', cursive;
} /* Aca seteamos el estilo del footer del proyecto */

.textoPortada {
    font-family: 'Manjari', sans-serif;
    color: #828282 ;
    background-color: transparent; 
}